# OpenWeatherMap
OPENWEATHER_API_KEY=your_key_here

# AWS
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=eu-west-3
S3_BUCKET_NAME=your-bucket-name

# AWS RDS PostgreSQL
RDS_HOST=your-rds-endpoint.rds.amazonaws.com
RDS_PORT=5432
RDS_DB=kayak_db
RDS_USER=your_user
RDS_PASSWORD=your_password
